* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;

}

.movie-app {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}
.container {
  background-color: #ffffff;
  width: 1010px;
}
